
body {background-color: #F7F7F7;
    color: #17202A;}
h1 {background-color: #D0D3D4;
    color: #2E86C1; font-weight: bolder; text-align: center}
h2 {color: #2E86C1; font-weight: bold}
p, body, nav, footer {letter-spacing: 1px}
nav {background-color: #F7F7F7; color: #2E86C1;}
footer {color: #666666;}
